@keyframes fadein {
  0% { opacity: 0 }
  25% { opacity: .25 }
  30% { opacity: 1 }
  45% { opacity: .6 }
  60% { opacity: .7 }
  80% { opacity: .1 }
  91% { opacity: .6 }
  100% { opacity: 1 }
}

@keyframes fadein2 {
  0% { opacity: 0 }
  25% { opacity: .9 }
  30% { opacity: .6 }
  45% { opacity: .8 }
  60% { opacity: .25 }
  80% { opacity: .45 }
  91% { opacity: .7 }
  100% { opacity: 1 }
}

@keyframes fadein3 {
  0% { opacity: 0 }
  25% { opacity: .2 }
  30% { opacity: .36 }
  45% { opacity: .5 }
  60% { opacity: .67 }
  80% { opacity: .8 }
  91% { opacity: .92 }
  100% { opacity: 1 }
}

@keyframes fadein4 {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes tuemove {
  0% { margin-top: 0px }
  22% { margin-top: 80px }
  40% { margin-top: 220px }
  74% { margin-top: 89px }
  100% { margin-top: 0px }
}

@keyframes tuemove2 {
  0% { margin-top: 36px }
  9% { margin-top: 99px }
  37% { margin-top: 84px }
  51% { margin-top: 300px }
  100% { margin-top: 36px }
}

@keyframes tuemove3 {
  0% { margin-top: 70px }
  19% { margin-top: 155px }
  41% { margin-top: 261px }
  60% { margin-top: 340px }
  100% { margin-top: 70px }
}

@keyframes tuemove4 {
  0% { margin-top: 83px }
  30% { margin-top: 143px }
  55% { margin-top: 3px }
  100% { margin-top: 83px }
}

@keyframes tuemove5 {
  0% { margin-top: 127px }
  60% { margin-top: 327px } 
  100% { margin-top: 127px }
}

@keyframes tuemove6 {
  0% { margin-top: 168px }
  70% { margin-top: 44px }
  90% { margin-top: 244px }
  100% { margin-top: 168px }
}

@keyframes tuemove7 {
  0% { margin-top: 221px }
  12% { margin-top: 291px }
  44% { margin-top: 161px }
  69% { margin-top: 103px }
  100% { margin-top: 221px }
}

@keyframes tuemove8 {
  0% { margin-top: 253px }
  30% { margin-top: 23px }
  53% { margin-top: 203px }
  100% { margin-top: 253px }
}

@keyframes tuemove9 {
  0% { margin-top: 291px }
  20% { margin-top: 347px }
  70% { margin-top: 107px }
  100% { margin-top: 291px }
}

@keyframes tuemove10 {
  0% { margin-top: 320px }
  23% { margin-top: 300px }
  81% { margin-top: 80px }
  100% { margin-top: 320px }
}

* {
  background-color: #28282b;
}

body, html {
  max-width: 100%;
  overflow: hidden;
}

#welcome {
  display: flex;
  justify-content: space-around;
}

.welcome-letters {
  font-family: 'Rubik Bubbles', sans-serif;
  color: #b59f84;
  font-size: 8em;
}

#w {
  margin-top: 120px;
  animation-name: fadein;
  animation-duration: 14s;
}

#e {
  margin-top: 60px;
  animation-name: fadein2;
  animation-duration: 13s;
}

#l {
  margin-top: 100px;
  animation-name: fadein3;
  animation-duration: 20s
}

#c {
  margin-top: 130px;
  animation-name: fadein3;
  animation-duration: 18s
}

#o {
  margin-top: 200px;
  animation-name: fadein;
  animation-duration: 14s;
}

#m {
  margin-top: 80px;
  animation-name: fadein2;
  animation-duration: 9s
}

#e {
  margin-top: 70px;
  animation-name: fadein;
  animation-duration: 12s
}

#spuds-lair-text {
  text-align: center;
  font-size: 4em;
  margin-top: -20px;
  font-family: 'Silkscreen', serif;
  animation-name: fadein4;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  color: #b59f84;
}

#website-options {
  display: flex;
  justify-content: space-around;
}

.entry-buttons {
  font-size: 2em;
  width: 350px;
  height: 150px;
  background-color: #b59f84;
  font-family: 'Silkscreen', serif;
  animation-name: fadein4;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

.entry-buttons:hover {
  cursor: pointer;
  background-color: #33cc33;
}

.home-button {
  position: fixed;
  top: 5;
  left: 5;
  font-size: 1.2em;
  background-color: #b59f84;
  font-family: 'Silkscreen', serif;
  z-index: 5
}

.home-button:hover {
  cursor: pointer;
  background-color: #ad242c
}

.tile, .offshoot-tile-left, .offshoot-tile-right, .terminal {
    width: 200px;
    height: 200px;
    border: solid #28282b 2px;
}

.tile, .offshoot-tile-left, .offshoot-tile-right {
    background-color: #b59f84;
}

.terminal {
    background-color: #ad242c;
    border: solid #28282b 2px
}

#main-hallway {
    position: absolute;
    left: 1224px;
    top: 0px;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 240px;
}

#left-offshoot-hallways {
    position: absolute;
    top: 0;
    left: 0;
    justify-self: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 6600px
}

#right-offshoot-hallways {
    position: absolute;
    top: 0;
    left: 1428px;
    justify-self: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 6600px
}

.offshoot-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.offshoot-left {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap
}

#spud {
    width: 160px;
    height: 160px;
    mix-blend-mode: multiply;
    background-color: white;
    z-index: 1;
    margin-top: -180px;
    margin-left: 20px;
    position: absolute;
    border: solid white 2px;
}

#offshoot-2 {
  margin-top: 612px;
}

#offshoot-3 {
  margin-top: 1020px;
}

#offshoot-6 {
  margin-top: 612px;
}

#offshoot-8 {
  margin-top: 816px;
}

#offshoot-9 {
  margin-top: 612px;
}

#offshoot-1 {
  margin-top: 204px;
}

#offshoot-4 {
  margin-top: 816px;
}

#offshoot-5 {
  margin-top: 816px;
}

#offshoot-7 {
  margin-top: 816px;
}

#offshoot-10 {
  margin-top: 408px;
}

#direction-arrows-updown, #direction-arrows-leftright {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: 10px;
  padding-bottom: 10px
}

#direction-arrows-updown {
  margin-right: 70px;
  width: 50px;
  z-index: 4;
  background: none;
}

#direction-arrows-leftright {
  margin-bottom: 50px;
  z-index: 3;
  background: none
}

.direction-button {
  font-size: 2em;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

#up-arrow {
  background-color: #5F8575;
}

#down-arrow {
  background-color: #96ded1;
  margin-top: 50px;
}

#left-arrow {
  background-color: #c4b454;
}

#right-arrow {
  background-color: #7df9ff;
  margin-left: 70px;
}

.terminal-window {
  position: absolute;
  width: 450px;
  height: 250px;
  border: solid #013220 12px;
  background-color: #33cc33;
  margin-top: -275px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

#cocktail-clash-window, #spuds-ship-window, #spuds-songs-window, #spuds-stuff-window, #spuds-snips-wednesday-window, #spuds-snips-tuesday-window, #feed-pharoah-window, #feed-gunther-window, #retrieve-pharoah-window, #retrieve-gunther-window {
  display: none;
}

#cocktail-clash-window {
  margin-right: 680px;
  animation-name: fadein2;
  animation-duration: 1.4s;
  animation-timing-function: ease-out;
}

#retrieve-pharoah-window {
  margin-left: 750px;
  animation-name: fadein3;
  animation-duration: .8s;
  animation-timing-function: ease-out;
}

#retrieve-gunther-window {
  margin-right: 275px;
  animation-name: fadein4;
  animation-duration: 1.1s;
  animation-timing-function: ease-out;
}

#spuds-stuff-window, #feed-pharoah-window {
  margin-left: 275px;
  animation-name: fadein;
  animation-duration: 1.3s;
  animation-timing-function: ease-out;
}

#spuds-snips-wednesday-window, #spuds-songs-window  {
  margin-right: 750px;
  animation-name: fadein2;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
}

#spuds-snips-tuesday-window {
  margin-left: 480px;
  animation-name: fadein4;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

#spuds-ship-window {
  margin-right: 480px;
  animation-name: fadein3;
  animation-duration: 1.3s;
  animation-timing-function: ease-out;
}

#feed-gunther-window {
  margin-top: 210px;
  margin-left: 550px;
  animation-name: fadein;
  animation-duration: 1.1s;
  animation-timing-function: ease-out;
}

.terminal-window-header, .song-page-header {
   text-align: center;
   background-color: #33cc33;
   font-family: 'Silkscreen', serif;
}

.terminal-window-explanation {
   text-align: center;
   background-color: #33cc33;
   font-family: 'Silkscreen', serif;
}

.terminal-window-button {
  text-align: center;
  background-color: #b59f84;
  font-family: 'Silkscreen', serif
}

.terminal-window-button:hover {
  cursor: pointer;
  background-color: #ad242c;
}

.close-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #b59f84;
  font-family: 'Silkscreen', serif;
  font-size: .4em;
}

.close-button:hover {
  cursor: pointer;
  background-color: #ad242c;
}

.cat-images, .food-images {
  width: 100px;
  height: 100px;
  margin-top: 40px;
}

#spuds-snips-tuesday-component, #tuesday-snips-header, #spuds-snips-tuesday-button-area, #spuds-snips-tuesday-name-area, #spuds-songs-component, #song-arrows-div, .song-page, #songs-content, .release-divs, .release-title, #props-links, #craig-props-div, #spencer-props-div {
  background-color: #33cc33;
}

#spuds-snips-tuesday-component {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 700px;
  border: 20px ridge #057405;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#spuds-songs-component {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 700px;
  border: 20px ridge #057405;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

#songs-content {
  width: 100%;
  height: 90%;
}

#song-arrows-div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between
}

#tuesday-snips-header, #spuds-snips-tuesday-name-area, .tuesday-buttons {
  font-family: 'Silkscreen', serif;
}

#tuesday-snips-header, #spuds-snips-tuesday-name-area {
  text-align: center;
}

#spuds-snips-tuesday-button-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#tuesday-snips-header {
  font-size: 4em;
  background-color: #057405;
  border: 10px inset #014801;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

#spuds-snips-tuesday-name-area {
  font-size: 1.5em;
  background-color: #057405;
  padding-top: 1%
}

.tuesday-buttons {
  background-color: #014801;
  font-size: 3em;
  height: 100px;
  width: 100px;
  border: 15px inset #057405;
  text-align: center;
  border-radius: 20%;
  opacity: 0;
  animation-iteration-count: infinite;
}

.tuesday-buttons:hover {
  cursor: pointer;
  background-color: #ad242c;
  border: 15px outset #730e15;
}

#spuds-songs-component {
  display: flex;
  flex-direction: row;
}

.song-arrows, .song-arrows:hover:disabled {
  background-color: #014801;
}

.song-arrows:hover {
  background-color: #ad242c;
  cursor: pointer
}

.song-arrows {
  width: 80px;
  height: 60px;
  font-size: 2em;
}

#song-arrow-left {
  margin-left: 20px;
  margin-bottom: 20px;
}

#song-arrow-right {
  margin-right: 20px;
  margin-bottom: 20px;
}

.song-page-header {
  font-size: 4em;
}

#release-images-div {
  background-color: #33cc33;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

.release-image {
  width: 300px;
  height: 300px;
  border: 10px inset #057405;
}

/* remove next two lines on release date */

#tuesday-with-gp, #wednesday-with-gp, #tuesday-with-gp-title, #wednesday-with-gp-title, #tuesday-with-gp-explanation, #wednesday-with-gp-explanation {
  filter: blur(1em)
}

#tuesday-with-gp-explanation-div, #wednesday-with-gp-explanation-div {
  background-color: transparent;
}

.release-title {
  font-family: 'Silkscreen', serif;
  text-align: center;
  max-width: 300px
}

.release-explanation-div {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #33cc33;
  margin-top: -270px;
  margin-left: 10px;
  text-align: center;
  opacity: 0
}

.release-explanation-div:hover {
  opacity: .8;
  cursor: pointer
}

.release-explanation {
  font-family: 'Silkscreen', serif;
  background-color: transparent;
  opacity: 1
}

.link-images {
  max-width: 300px;
  max-height: 210px;
  background-color: #057405;
  border: 10px inset #013220;
}

.link-images:hover {
  opacity: .6;
  background-color: #ad242c;
  border: 10px inset #730e15
}

#spotify-image {
  margin-top: 160px;
}

#soundcloud-image {
  margin-top: 100px;
}

#bandcamp-image {
  margin-top: -50px;
}

#links-div {
  background-color: #33cc33;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

.links-anchors, .props-anchors {
  background-color: transparent
}

.props-image {
  max-width: 300px;
  max-height: 300px;
  background-color: #057405;
  border: 10px inset #013220;
  margin-top: -20px;
}

.props-image:hover {
  opacity: .6;
  border: 10px inset #730e15  
}

#props-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

#spencer-props-div {
  margin-top: 160px;
}

.props-explanation {
  font-family: 'Silkscreen', serif;
  background-color: #33cc33;
  text-align: center;
  max-width: 300px;
}